<div class='container theme-showcase' role='main'>
	<div class='jumbotron'>
		<h1>Welcome to I Narau</h1>
	    <p>"Narau" is a Japanese word which means "to learn," so "I Narau" is a Janglish phrase with intentionally bad grammar. Why? Well, our philosophy is to learn without worrying too much about the details. Language is all about communication, and while it's great to focus on perfect syntax and grammar, too many language learners are paralyzed by worrying about the small stuff. At I Narau we want you to have fun learning useful language skills that will allow you to begin enjoying a whole new aspect of the world, in the language of your choice! So, let's "naraimasho" and learn together!</p>
	</div>
</div>
<div class='centered'>
	<h3>Login to access the site</h3>
	<a href='/sessions/new'>Login</a>
	<h3>Register as a new user</h3>
	<a href='/users/new'>Register</a>
</div>