<div class='container theme-showcase' role='main'>
	<div class='jumbotron'>
	    <p>I'm Rich, the creator of I Narau. It's great to have you here! I created this website as a resource for fellow language learners who are frustrated with how most Japanese language courses and materials focus on grammar and writing. Children learn language through sounds, specifically by associating concepts and ideas with those sounds -- not by written repetitions. A mother doesn't sit her toddler down with a pen in hand and force them to write "car" 50 times before the child can even point to a car when prompted, but unfortunately Japanese is usually taught by academics who follow EXACTLY that process. As a result most students give up early on. </p>
	    <p>I Narau represents the opposite end of the learning spectrum. We start with the basics, the sounds, and build up from there. While I've had a hand in developing the platform, everything is vetted and all audio is produced by a native Japanese speaker. So, let's learn together!</p>
	</div>
</div>
<div class='centered'>
	<%= image_tag "me.png" %>
</div>