<h1>Welcome <%= @user.username %></h1>
<h2>You are currently a white belt in Japanese</h2>
<h3>What would you like to practice today?</h3>
<p>This is where I'll put a table listing 'kata' of different areas of the language to work on. Goes to vocabs#show</p>
<p>This is where I'll give the user the option to view their scores so far. Goes to scores#show</p>
<p>This is where I'll give user the option to view all scores. Goes to scores#index</p>