<div class='container theme-showcase' role='main'>
	<div class='jumbotron'>
		<p>If you've ever done karate, you are probably familiar with the concept of kata. Kata are organized patterns of movements that are practised repeatedly by students so that they become more skilled with each of the techniques and movements within. At I Narau, we provide users with 'learning patterns' in the form of kata that will help you build vocabulary within certain focused areas of study.</p>
	</div>
	<div class='centered'>
		<h3>White Belt Kata</h3>
	</div>
	<div class='row'>
		<div class='col-lg-4'>
			<h3>Kihon - Hiragana</h3>
			<p>Hiragana are one of the two Japanese syllabaries, and the perfect place to get started. By learning hiragana you will take the first step towards understanding how to read and pronounce Japanese. Hiragana are used to phonetically write out words that are native to Japan, and it's the first thing children in Japan learn to read and write.</p>
		</div>
		<div class='col-lg-4'>
			<h3>Kihon - Katakana</h3>
			<p>Katakana make up the second Japanese syllabary, and represent the next step on the path to reading and pronouncing Japanese. Katakana are used to phonetically write out non-native words in Japanese, so you'll see them mixed in quite often.</p>
		</div>
		<div class='col-lg-4'>
			<h3>Kihon - Saying Hello</h3>
			<p>Your final basic kata will be learning how to introduce yourself. This is a quick kata that will teach you what to say and how to respond in Japanese when you meet someone for the first time. After this, you'll be ready to test for your yellow belt and unlock the next set of kata!</p>
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-4'>
			<p><a class="btn btn-primary" href="/katas/0" role="button">Practise Hiragana!</a></p>
		</div>
		<div class='col-lg-4'>
			<p><a class="btn btn-primary" href="/katas/2" role="button">Practise Katakana!</a></p>
		</div>
		<div class='col-lg-4'>
			<p><a class="btn btn-primary" href="/katas/3" role="button">Practise Saying Hello!</a></p>
		</div>
	</div>
</div>